* {
    margin: 0px;
    --navColor:rgb(60,60,60);
    --white:rgb(255,255,255);
    --jaunepale: rgb(253,247,233);
    --jaune:rgb(244,175,46);
    --jauneClair:rgba(244, 175, 46, 0.59);
    font-family: 'Raleway', sans-serif;
}
body{
    position: relative;
}
/********************NAVBAR**************************/
nav a {    
    justify-content: center;    
    gap: 20px;    
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    margin: 0% 2%;
}
.logoNav {    
    height: 150px; 
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);       
    z-index: 3;
}
nav{
    display: flex;
    background-color: var(--navColor);
    justify-content: space-between;  
    align-items: center;        
    font-size: 20px;
    height: 80px;
    position: relative;    
}
.boutonConnexion{
    font-size: 15px;
    color: var(--white);
    background-color: var(--navColor);
    border-radius: 5px;
    border-color: var(--jaune);
    padding: 0.8%;
    text-transform: uppercase;
}
.deconnexion{
    font-size: 15px;
    color: var(--white);
    background-color: var(--navColor);
    border-radius: 5px;
    border: 2px solid var(--jaune);
    padding: 0.8%;
    text-transform: uppercase;
}
.iconePanier{
    width: 60%;
}

/********************HEADER************************/
.imageFond {
    width: 100%;
    height: 500px;
    object-fit:cover;
}
.slide{
    background-image: url("images/header.webp");
    height: 300px;
    display: flex;
    justify-content: center;
   
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 50px ;
}
h2{
    font-size: 30px ;
}
.titres {
    align-self: center;
    background-color:white;
    opacity: 0.8;   
    z-index: 2; 
    border-radius: 10px;
}

/***********************FOOTER************************/
footer{
    background-color: var(--navColor);
}
.footer{
    color: var(--jaune);
    text-align: center;
    font-size: 15px;    
    margin-bottom: 2%;
}
.mentionsLegales{
    color:black;
    text-align: center;
    font-size: 15px;
    padding-bottom: 2%;
}
.icones{
    width:3%;
    height: 3%;
    color: var(--jauneClair);
    margin: 0% 2%; 
}
.sectionIcones{
    text-align: center;
    padding: 1%;
}
/***********************************************PAGE ACCUEIL**************************************************/
/********************NOS PRODUITS***********************/
.nosProduitsTitre{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3%;
}
.nosProduitsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.nosProduitsGrid > article {
    padding: 5%;
    margin: 0% 5%;
    border-radius: 5px;
    background-color: var(--jaunepale);
}
.categorieAccueil{
    margin-top: 5%;
    font-weight: bold;
}
.decouvrir{
    background-color: var(--jauneClair);
    border-radius: 5px;
    color:var(--white);
    box-shadow: 1px 5px 5px gray;
    padding: 2%;
    margin-top: 5%;
}
.imgAccueil{
    width: 100%;
    height: 75%;
}
/********************NOTRE ACTIVITE*********************/
.notreActivite{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-weight: bold;
}
.imgNotreActivite{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.titreGridPageAcc{
    margin: 5%;
    line-height: 40px;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
}
.texteGridPageAcc{
    margin: 5%;
    line-height: 40px;
    text-align: justify;
}


/***********************************************PAGE BOUTIQUE**************************************************/
.titres{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px ;
    padding: 3%;
    text-align: center;
}

/********************CATEGORIES*********************/
.boutiqueCategories{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.boutiqueCategories > a{
    text-decoration: none;
    margin: 3%;
    padding: 3%;
    text-align: center;
    border-radius: 5px; 
    background-color: var(--jauneClair);
    color: black;  
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 5px 5px gray;
}
/********************PRODUITS*********************/
.boutiqueProduits{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.boutiqueProduits > article {
    padding: 5%;
    margin: 5%;
    border-radius: 5px;
    background-color: var(--jaunepale);
    text-align: center;
    font-weight: bold;
    display: flex;   
    flex-direction: column;
    justify-content: center; 
    font-size: 20px;
    font-weight: bold;   
}
.boutiqueNomProduit{
    margin: 3%;
    text-transform: capitalize;
}
.imgBoutique{
    width: 50%;  
    height: 50%;
    object-fit: cover; 
    align-self: center;    
}
.ajouter{
    background-color: var(--jauneClair);
    box-shadow: 1px 5px 5px gray;
    margin: 3%;
    padding: 3%;
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
}
/***********************************************PAGE BOUTIQUE**************************************************/
.produitContenu{
    margin : 5% 10%;
    display: flex;    
}
.imgProduit{
    width: 30%;
    object-fit: cover; 
    margin-right: 3%;
}
.produitNom{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10%;   
}
.produitDescription{
    font-size: 20px;
    margin-bottom: 10%;
}
.produitPrix{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
}
.ajouterProduit{
    background-color: var(--jauneClair);
    box-shadow: 1px 5px 5px gray;
    margin-bottom: 10%;
    padding: 3%;
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
}

/***********************************************PAGE GALERIE**************************************************/


/********************DECOUVREZ*********************/
.decouvrez{
    background-color: var(--jaune);
    padding: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

/********************PHOTOS*********************/
.photosGalerie{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--jauneClair);
    margin: 0% 10%;    
}
.photosGalerie > img{
    width: 90%;
    height: 70%;
    object-fit: fill;
    
}


/***********************************************PAGE NOTRE HISTOIRE**************************************************/


/********************1ERE PARTIE*********************/
.quelquesMots{
    font-size: 25px;
    text-align: center;
    margin: 3%;
    font-weight: bold;
}
.titrePresentation{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5%;
    margin-left: 3%;
}
.textePresentation{
    margin-left: 3%;
}
.qsnTextHaut{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0% 10%;
    line-height: 30px;
}
.qsnTextHaut > img{
    width: 600px;
    height: 400px;
    
}
/********************2ND PARTIE*********************/
.titreBasPresentation{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2%;
}
.qsnTextBas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 10%;
    line-height: 30px;
}
/**********************************************PAGE CONTACT **************************************************/
.ouNousTrouver{
    text-align: center;
    font-size: 25px;
    margin: 3% 30%;
}
.ouNousTrouver > img{
    width: 80%;
    margin-top: 5%;
}
.nosHorraires{
    font-size:25px;
}
.nosHorraires > div{
    font-weight: bold;
    text-align: center;
}
.nosHorraires > p{
    text-align: center;
    margin: 0% 30% 2% 30%;
}
.formContact{
    background-color: var(--jauneClair);
    margin: 5% 20% 2% 20%;
    padding: 3%;
    border-radius: 5px;
    font-size: 20px;
}
.formContact > input{
    width: 35%;
    height: 35px;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    background-color: var(--jaunepale);
}
.formContact > div{
    display: flex;
    flex-direction: column;
}
.boutonContact{
    font-size: 25px;
    height: 10%;
    border: none;
    border-radius: 5px;
    margin-top: 3%;
    background-color: var(--jaune);
    font-weight: bold;
}
textarea{
    resize : none;
    border: none;
    border-radius: 5px;
    background-color: var(--jaunepale);
    margin-top: 2%;
    height: 150px;
}
/**********************************************MODAL CONNEXION **************************************************/
.d-none {
    display: none;
}
.modalBack{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 11;
    margin: 0%;
    padding: 0%;
} 
.modal-template {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--jaune);
    width: 50%;
    padding: 5%;
    z-index: 11;
    font-size: 20px;
}
.titreModal{
    font-weight: bold;
    font-size: 30px;
    padding: 5%;
    text-align: center;
}
.croix {
    height: 30px;
}
.formModal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formModal > input{
    width: 70%;
    margin-bottom: 3%;
    height: 25px;
    border-radius: 20px;
    border: none;
}
.boutonModal {       
    box-shadow: 0px 5px 5px gray;
    font-weight: bold;
    font-size: 20px;
}
/**********************************************MODAL INSCRIPTION**************************************************/
.d-noneInsc {
    display: none;
}
.modalBackInsc{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 11;
    margin: 0%;
    padding: 0%;
} 
.modal-templateInsc {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--jaune);
    width: 50%;
    z-index: 11;
    font-size: 20px;
}
.titreModal{
    font-weight: bold;
    font-size: 30px;
    padding: 5%;
    text-align: center;
}
.croixInsc {
    height: 30px;
}
.formInscription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInscription > input{
    width: 70%;
    margin-bottom: 3%;
    height: 25px;
    border-radius: 20px;
    border: none;
}
.boutonModalInsc{
    width: 70%;
    height: 30px;
    border-radius: 20px;
    border-color: var(--jauneClair);
    box-shadow: 0px 5px 5px gray;
    font-weight: bold;
    font-size: 20px;
}
/* 
.effetJS{
    position: relative;
    left: 80%;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition : all 1.5s ease;
  }
  body{
    overflow-x: hidden;
  } */
/***********************************************PAGE PANIER**************************************************/
.colonnesPanier{
    background-color: var(--jaunepale);
    margin: 3% 10%;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.nomColonnes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
}
.contenuPanier{
    background-color: var(--jauneClair);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
    border-radius: 5px;
    align-items: center;
}
.contenuPanier > img {
    width: 2%;
    height: 2%;
    object-fit: fill;    
}
/***********************************************PAGE READ PRODUITS*************************************************/
.trTitreColonne{
    display: flex;
    justify-content: center;
    align-self: center;
}


.ajouterProduitBouton{
    padding: 0.5%;  
    background-color: var(--jaune);
    font-weight: bold;      
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

/***********************************************PAGE AJOUT PRODUIT*************************************************/
.ajoutArticle{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 2%;
}
.formAjoutProduits{
    display: flex;
    flex-direction: column;
    margin: 0% 20% 5% 20%; 
    border-radius: 10px;
    background-color: var(--jauneClair);
}
.messageAjout{
    color: black;
    background-color: var(--jaune);
    margin: 1% 30%;
    padding: 1%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.formAjoutProduits > input {
    margin: 0% 5%;
    border: none;
    border-radius: 10px;   
    font-size: 20px; 
    background-color: var(--jaunepale);
}
.formAjoutProduits ::placeholder{
    text-align: right;
}
.formAjoutProduits > textarea{
    margin: 0% 5%;
    border: none;
    border-radius: 10px;   
    font-size: 20px; 
    background-color: var(--jaunepale);
}
.formAjoutProduits >  label{
    margin: 1% 5%;
    font-size: 20px;
}
.formAjoutProduits > select{
    margin: 0% 5% 1% 5%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--jaunepale);
    text-transform: capitalize;
}
.formAjoutProduits .boutonAjoutProduit{
    margin: 3% 0%;
    padding: 0.5%;  
    width: 30%;  
    height: 20%;
    background-color: var(--jaune);
    font-weight: bold;        
    align-self: center;
}
/***********************************************PAGE MODIFIER PRODUIT*************************************************/
.modifierTitre{
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
    margin: 2%;
}
.form_modifier{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--jauneClair);
    border-radius: 10px;
    margin: 0% 30% 5% 30%;
    font-size: 20px;
}
.form_modifier > input{
    border: none;
    background-color: var(--jaunepale);
    border-radius: 10px;
}
.marginModifier{
    margin: 0.7% 0%;    
    width: 50%;
    font-size: 20px;
}
.boutonModifier{    
    margin: 2% 0%;  
    padding: 2%;  
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--jaune)!important; 
}
/****************************************************************RESPONSIVE**********************************************************/
/***********************MODAL INSCRIPTION******************/
@media (max-width: 992px) {
    .modal-templateInsc {
        height: 30%;
        width: 80%;
    }
}
/***********************PAGE ACCUEIL******************/
@media (max-width: 992px) {
    .texteGridPageAcc{
        line-height: 20px;        
    }
    .titreGridPageAcc{
        margin-left: 5%;       
    }
}
@media (max-width: 720px) {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 15px;
    }
    .slide{
        height:150px;
    }
    .nosProduitsTitre{
        font-size: 20px;
    }
    .notreActivite{
        display: flex;
        flex-direction: column;
    }
    .imgNotreActivite{
        width: 100%;
        height: auto;
    }
    .imgNotreActiviteResponsive{
        display: none;
    }
    .texteGridPageAcc{
        line-height: 20px; 
        font-size: 80%;      
        margin-top: 1%;
        margin-bottom: 1%; 
    }
    .titreGridPageAcc{
        font-size: 100%;   
        margin-left: 5%;   
        margin-bottom: 0%;    
    }
    .nosProduitsGrid{
        display: flex;
        flex-direction: column;        
    }
    .nosProduitsGrid > article{
        margin: 5%;
    }
    .imgAccueil{
        width: 70%;
        height: 70%;
    }

}
/***********************PAGE BOUTIQUE*****************/
/* @media (max-width: 720px) {
    .Boutique{
        font-size: 25px;
    }
    .nosProduitsTitre{
        font-size: 20px;
    }
    .boutiqueCategories{
        font-size: 14px;        
    }
    .boutiqueCategories > a{
        padding: 10% 0%;
    }
    .boutiqueProduits{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .boutiqueProduits > article{
        padding-bottom: 25%;
        margin: 5%;
    }
    .imgBoutique{
        width: 70%;
        height: 80%;
    }

} */
/***********************PAGE GALERIE******************/
@media (max-width: 992px) {
    .photosGalerie{       
        margin: 0% 5%;    
    }
    .photosGalerie > img{      
        margin: 8%;
    }   
}
/***********************PAGE NOTRE HISTOIRE******************/
@media (max-width: 992px) {
    .titrePresentation{
        margin-bottom: 0%;
    }
    .textePresentation{
        text-align: justify;
    }
    .qsnTextHaut > img{
        width: 100%;
        object-fit: fill;
    }
    .qsnTextHaut > p{
        width: 90%;
    }
    .qsnTextHaut{     
        margin: 0% 3%;
    }
    .qsnTextBas{
        margin: 2% 5%;
        line-height: 20px;
    }
   .qsnTextBas > div{
        margin-left: 10%;
        text-align: justify;
   }   
}
@media (max-width: 720px) {
    .qsn{
        font-size: 25px;
    }
    .quelquesMots{
        font-size: 20px;
    }
    .qsnTextHaut{
        display: flex;
        flex-direction: column;
    }
    .qsnTextHaut > img{
        height: 30%;
    }
    .textePresentation{
        font-size: 16px;
        line-height: 20px;
        margin: 0% 2%;
    }
    .qsnTextBas{
        display: flex;
        flex-direction: column;
    }
    .qsnTextBas > div{
        margin: 2%;
    }
}
/***********************PAGE CONTACT******************/
@media (max-width: 992px) {
    .ouNousTrouver{
        margin: 3% 20%;
    } 
    .nosHorraires > p{
        margin: 0% 10% 2% 10%;
    }
    .formContact{
        margin: 5% 15% 2% 15%;
    }
    .formContact > input{
        height: 30px;
    }
    .boutonContact{
        font-size: 25px;
    }
}
@media (max-width: 720px) {
    .contact{
        font-size: 25px;
    }
    .ouNousTrouver{
        margin: 3% 10%;
        font-size: 17px;
    }
    .nosHorraires{
        font-size: 17px;
    }
    .formContact{
        margin: 5%;
        display: flex;
        flex-direction: column;
    }
    .formContact > input{
        width: 90%;
    }
}
/************************FOOTER***********************/
@media (max-width: 720px) {
    .footer{
        font-size: 10px;
    }
    .mentionsLegales{
      font-size: 8px;  
    }       
    .icones{
        width: 7%;
        height: 7%;
    }
}